%table
  %tbody
    %tr
      %td Ім'я:
      %td
        %b= @request.name
    %tr
      %td Email:
      %td
        %b= @request.email
    %tr
      %td Телефон:
      %td
        %b= @request.phone
    %tr
      %td Країни:
      %td
        %b= @request.countries
    %tr
      %td Тип:
      %td
        %b= @request.tour_types.map(&:title).join(', ')
    %tr
      %td Транспорт:
      %td
        %b= @request.transports.map(&:title).join(', ')
    %tr
      %td Дорослих:
      %td
        %b= @request.adults
    %tr
      %td Дітей:
      %td
        %b= @request.childrens
    %tr
      %td Бюджет:
      %td
        %b= "#{@request.budget} #{@request.currency && @request.currency.code}"
    %tr
      %td Дата:
      %td
        %b= @request.departure_date
    %tr
      %td Тривалість:
      %td
        %b= @request.duration
    %tr
      %td Примітки:
      %td
        %b= @request.node