Ім'я: #{@request.name}
Email: #{@request.email}
Телефон: #{@request.phone}
Країни: #{@request.countries}
Тип: #{@request.tour_types.map(&:title).join(', ')}
Транспорт: #{@request.transports.map(&:title).join(', ')}
Дорослих: #{@request.adults}
Дітей: #{@request.childrens}
Бюджет: #{@request.budget} #{@request.currency && @request.currency.code}
Дата: #{@request.departure_date}
Тривалість: #{@request.duration}
Примітки: #{@request.node}