- content_for :seo_meta do
  = @tour.seo_meta
- content_for :title do
  = "#{@tour.title} - #{tour_subtitle(@tour, true, true)}"

.push-20
.row.tour
  .span9
    .row-fluid
      .span12
        %h2
          = @tour.title
          = raw tour_subtitle(@tour)
        %dl
          - if @tour.price_from
            %dt= t 'tours.price'
            %dd= raw "#{t('gen.from')}: #{@tour.price_from} #{@tour.currency && @tour.currency.code} #{t('gen.per_person')}"
          - unless @tour.transports.empty?
            %dt= t('tours.transport')
            %dd= @tour.transports.map(&:title).join(', ')
          - unless @tour.durations.empty?
            %dt= t('tours.duration')
            %dd= @tour.durations.map(&:count_of_night).join(', ')
          - unless @tour.food_types.empty?
            %dt= t('tours.food_type')
            %dd= raw @tour.food_types.map{ |t| "<span class='label label-warning' data-toggle='tooltip' title='#{t.title}'>#{t.code.upcase}</span>" }.join(' ')
          - unless @tour.tour_types.empty?
            %dt= t('tours.tour_type')
            %dd= @tour.tour_types.map(&:title).join(', ')
          - unless @tour.regions.empty?
            %dt= t('tours.departure')
            %dd= raw @tour.regions.map{ |r| link_to r.name, r }.join(', ')
          
          - if @tour.departure_calendar
            %dt= t('tours.callendar')
            %dd= raw full_year_callendar(@tour.departure_calendar)
          
          - unless @tour.description.empty?
            %dt= t('tours.description')
            %dd= raw @tour.description

          - if temp = marshrut(@tour.tour_programs.order('day_number ASC'))
            %dt= t('tours.marshrut')
            %dd= raw temp
            
          - if temp = tour_program(@tour.tour_programs.order('day_number ASC'))
            %dt= t('tours.tour_program')
            %dd= raw temp

          - unless @tour.price_list.empty?
            %dt= t('tours.price_list', currency: (@tour.currency && @tour.currency.code))
            %dd= raw @tour.price_list
          - unless @tour.price_included.empty?
            %dt= t('tours.price_inc')
            %dd= raw @tour.price_included
          - unless @tour.price_excluded.empty?
            %dt= t('tours.price_exc')
            %dd= raw @tour.price_excluded
          - unless @tour.note.empty?
            %dt= t('tours.note')
            %dd= raw @tour.note
          - unless @tour.excursions.empty?
            %dt= t('tours.excursions')
            %dd= raw @tour.excursions
        .row-fluid
          .span12
            - if @tour.gallery && @tour.gallery.photos.any?
              %h4= t 'region.gallery' 
              %ul.grid
                - @tour.gallery.photos.each do |photo|
                  %li
                    = link_to image_tag(photo.asset.url(:thumb_250x), { alt: photo.title }), photo.asset.url(:original), { class: :thumbnail }

  .span3
    .row-fluid
      %h4= t 'tours.related'
      %ul.thumbnails
        - Tour.all.each do |tour|
          %li.span12
            .thumbnail
              .caption
                = link_to image_tag(tour.photo.asset(:thumb_250x), { alt: tour.photo.title }), tour
                %h4= link_to tour.title, tour