- content_for :seo_meta do
  = @tour.seo_meta
- content_for :tags do
  = @tour.all_tags.join(',')
- content_for :title do
  = "#{@tour.title} - #{tour_subtitle(@tour, true, true)}"
- content_for :image_src do
  = @tour.photo.asset(:original)
- content_for :scripts do
  %script{ src: "//yandex.st/share/share.js", charset: "utf-8" }
  :javascript
    new Ya.share({
      element: 'ya-share',
      l10n: '#{locale}',
      elementStyle: {
        'type': 'button',
        'border': true,
        'quickServices': ['vkontakte', 'facebook', 'twitter', 'gplus', 'yaru', 'blogger', 'delicious', 'diary', 'digg', 'evernote',  'friendfeed',  'juick', 'liveinternet', 'linkedin', 'lj', 'moikrug', 'moimir', 'myspace', 'odnoklassniki', 'pinterest', 'surfingbird', 'tutby', 'yazakladki']
      },
      link: '#{tour_url(@tour)}',
      title: '#{CGI.escapeHTML([@tour.title, tour_subtitle(@tour, true, true)].join(' - '))}',
      description: '#{t('gen.from')} #{@tour.price_from} #{@tour.currency && @tour.currency.code} за #{t(@tour.price_type, :scope => [:tours, :price_type])} <br/>на #{@tour.durations.map(&:count_of_night).join(', ')} ночей',
      image: window.location.href + '#{@tour.photo.asset(:original, timestamp: false)}'
    });
    
.row.tour
  .col-lg-8
    %h2
      = @tour.title
      = raw tour_subtitle(@tour)
    .row
      .col-lg-12
        .pull-fleft#ya-share
    %dl
      - if @tour.price_from
        %dt= t 'tours.price'
        %dd= "#{t('gen.from')}: #{@tour.price_from} #{@tour.currency && @tour.currency.code} за #{t(@tour.price_type, :scope => [:tours, :price_type])}"
      - unless @tour.transports.empty?
        %dt= t('tours.transport')
        %dd= @tour.transports.map(&:title).join(', ')
      - unless @tour.durations.empty?
        %dt= t('tours.duration')
        %dd= @tour.durations.map(&:count_of_night).join(', ')
      - unless @tour.food_types.empty?
        %dt= t('tours.food_type')
        %dd= raw @tour.food_types.map{ |t| "<span class='label label-warning' data-toggle='tooltip' title='#{t.title}'>#{t.code.upcase}</span>" }.join(' ')
      - unless @tour.tour_types.empty?
        %dt= t('tours.tour_type')
        %dd= @tour.tour_types.map(&:title).join(', ')
      - unless @tour.regions.empty?
        %dt= t('tours.departure')
        %dd= raw @tour.regions.map{ |r| link_to r.name, r }.join(', ')
      
      - if @tour.departure_calendar
        %dt= t('tours.callendar')
        %dd= raw full_year_callendar(@tour.departure_calendar)
      
      - unless @tour.description.empty?
        %dt= t('tours.description')
        %dd= raw @tour.description

      - if temp = marshrut(@tour.tour_programs)
        %dt= t('tours.marshrut')
        %dd= raw temp
        
      - if temp = tour_program(@tour.tour_programs)
        %dt= t('tours.tour_program')
        %dd= raw temp

      - unless @tour.price_list.empty?
        %dt= "#{t('tours.prices')} в #{@tour.currency && @tour.currency.code} за #{t(@tour.price_type, :scope => [:tours, :price_type])}"
        %dd= raw @tour.price_list
      - unless @tour.price_included.empty?
        %dt= t('tours.price_inc')
        %dd= raw @tour.price_included
      - unless @tour.price_excluded.empty?
        %dt= t('tours.price_exc')
        %dd= raw @tour.price_excluded
      - unless @tour.note.empty?
        %dt= t('tours.note')
        %dd= raw @tour.note
      - unless @tour.transport_description.empty?
        %dt= t('tours.transport_description')
        %dd= raw @tour.transport_description
      - unless @tour.excursions.empty?
        %dt= t('tours.excursions')
        %dd= raw @tour.excursions
      %dt= t 'region.gallery'
      %dd 
        - if @tour.gallery && @tour.gallery.photos.any?
          .row
            .col-lg-12
              %h5= t 'tours.gallery' 
              = render 'layouts/gallery', photos: @tour.gallery.photos
        - if @tour.tour_programs.any? && @tour.tour_programs.first.regions.any?
          - @tour.tour_programs.map { |program| program.regions }.flatten.uniq.each do |region|
            - if region.gallery && region.gallery.photos.any?
              .row
                .col-lg-12
                  %h5
                    = link_to region.name, region
                    %small= link_to region.country.name, region.country
                  = render 'layouts/gallery', photos: region.gallery.photos

  .col-lg-4
    .row.related
      %h4= t 'tours.related'
      - @related.each do |tour|
        .col-lg-6.col-sm-4.col-6.block
          = image_tag(tour.photo.asset(:thumb_370), { alt: tour.photo.title })
          .title 
            = link_to tour.title, tour
            %em= raw tour_subtitle(tour, true)
            .descr
              %div= raw "#{t('gen.from')} <b>#{tour.price_from}#{currency_sym(tour)}</b> на #{tour.durations.map(&:count_of_night).join(',')} ночей"
              %div= "#{tour.tour_types.map(&:title).join(', ')}"