- content_for :seo_meta do
  = @tour.seo_meta

.push-20
.row.tour
  .span9
    .row-fluid
      .span12
        %h2
          = @tour.title
          - if @tour.tour_programs.any? && @tour.tour_programs.first.regions.any?
            - if @tour.tour_programs.size == 1 && @tour.tour_programs.first.regions.size == 1
              %small
                = link_to @tour.tour_programs.first.regions.first.name, @tour.tour_programs.first.regions.first
                = raw "(#{link_to @tour.tour_programs.first.regions.first.country.name, @tour.tour_programs.first.regions.first.country})"
        %dl
          - if @tour.price_from
            %dt= t 'tours.price'
            %dd= raw "#{t('gen.from_to', from: @tour.price_from, to: @tour.price_to)} #{@tour.currency && @tour.currency.code}"
          - unless @tour.transports.empty?
            %dt= t('tours.transport')
            %dd= @tour.transports.map(&:title).join(', ')
          - unless @tour.durations.empty?
            %dt= t('tours.duration')
            %dd= @tour.durations.map(&:count_of_night).join(', ')
          - unless @tour.food_types.empty?
            %dt= t('tours.food_type')
            %dd= @tour.food_types.map{ |t| t.code.upcase }.join(', ')
          - unless @tour.tour_types.empty?
            %dt= t('tours.tour_type')
            %dd= @tour.tour_types.map(&:title).join(', ')
          - unless @tour.regions.empty?
            %dt= t('tours.departure')
            %dd= raw @tour.regions.map{ |r| link_to r.name, r }.join(', ')
          - if @tour.departure_calendar
            %dt= t('tours.callendar')
            %dd= raw full_year_callendar(@tour.departure_calendar)
          - unless @tour.description.empty?
            %dt= t('tours.description')
            %dd= raw @tour.description
          - unless @tour.price_list.empty?
            %dt= t('tours.price_list')
            %dd= raw @tour.price_list
          - unless @tour.price_included.empty?
            %dt= t('tours.price_inc')
            %dd= raw @tour.price_included
          - unless @tour.price_excluded.empty?
            %dt= t('tours.price_exc')
            %dd= raw @tour.price_excluded
          - unless @tour.note.empty?
            %dt= t('tours.note')
            %dd= raw @tour.note
          - unless @tour.excursions.empty?
            %dt= t('tours.excursions')
            %dd= raw @tour.excursions
        .row-fluid
          .span12
            - if @tour.gallery && @tour.gallery.photos.any?
              %h4= t 'region.gallery' 
              %ul.grid
                - @tour.gallery.photos.each do |photo|
                  %li
                    = link_to image_tag(photo.asset.url(:thumb_250x), { alt: photo.title }), photo.asset.url(:original), { class: :thumbnail }

  .span3
    .row-fluid.well.well-small
      %h4= t 'tours.related'
      %ul.thumbnails
        - Tour.all.each do |tour|
          %li.span12
            .thumbnail
              = link_to image_tag(tour.photo.asset(:thumb_250x), { alt: tour.photo.title }), tour
              %h4= link_to tour.title, tour