- content_for :seo_meta do
  = @continent.seo_meta
- content_for :tags do
  = @continent.all_tags.join(',')
- content_for :title do
  = @continent.name

- if @continent.geo_viewport
  .row
    .col-lg-6
      #satatic-map{ data: { address: @continent.parsed_geo['formatted_address'] } }
    .col-lg-6
      #div_attr_ex{ data: { ne: @continent.geo_viewport['northeast'].to_json, sw: @continent.geo_viewport['southwest'].to_json } }
        #div_attr_ex_photo
        #div_attr_ex_list
        #div_attr_ex_attr

.row
  .col-lg-12
    %h2= @continent.name
    %p= raw @continent.description
    .f16
      - @continent.countries.includes({regions: :translations}).with_translations(locale).each do |country|
        %h5
          = link_to country.name, country, { class: "flag #{country.code}"}
          - country.regions.each do |region|
            %small= link_to region.name, [country, region]
