- unactive_ids = Tour.where(active: false).pluck(:id)
.row
  .col-lg-8.col-sm-12
    %h4= t 'home.recommends'
    - if @promote.any?
      #myCarousel.carousel.slide
        %ol.carousel-indicators
          - @promote.each_with_index do |tour, i|
            %li{ class: ('active' if i == 0), data: {'slide-to' => i, 'target' => "#myCarousel"} }
        / Carousel items
        .carousel-inner
          - @promote.each_with_index do |tour, i|
            .item{ class: ('active' if i == 0), "data-slide-number" => i}
              = image_tag tour.photo.asset.url(:thumb_770), { alt: tour.photo.title }
              .carousel-caption
                %h4
                  = link_to tour.title, tour
                  = raw tour_subtitle(tour.tour_programs)
                  - if temp = marshrut(tour.tour_programs)
                    %small
                      %em= raw "#{temp}"
                %p= raw "#{t('gen.from')} <b>#{tour.price_from}#{tour.currency_sym}</b> на #{tour.nights} ночей<br/> #{tour.tour_types.map(&:title).join(', ')} "
        / Carousel nav
        %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} 
          %span.icon-prev.glyphicon.glyphicon-chevron-left
        %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"}
          %span.icon-next.glyphicon.glyphicon-chevron-right
  .col-lg-4.col-sm-12
    %h4= t 'menu.hot_tours'
    .row.hot-tours
      - @hot_tours2.each_with_index do |tour, i|
        .col-lg-6.col-sm-4.col-6.block
          = image_tag tour.photo.asset(:thumb_370), { alt: tour.photo.title }
          - if i == 5
            .shadow
            .all-hot-tours 
              %a{ href: '/hot_tours'} 
                = t 'home.more_hot_tours'
                %span.glyphicon.glyphicon-arrow-right
          - else
            .title 
              = tour.title
              .descr= tour.description
.row.country
  .col-lg-4.col-sm-12
    %h4= t 'home.last_tours'
    .list-group
      - @tours.each_with_index do |tour, i|
        .list-group-item
          - if tour.photo
            = image_tag(tour.photo.asset(:thumb_130), { alt: tour.photo.title, class: 'pull-left' })
          %h5.list-group-item-heading
            = link_to tour.title, tour
            %em= raw tour_subtitle(tour.tour_programs, true)
          %p.list-group-item-text= raw "#{t('gen.from')} <b>#{tour.price_from}#{tour.currency_sym}</b> на #{tour.nights} ночей"
          %p.list-group-item-text= "#{tour.tour_types.map(&:title).join(', ')}"
          .clearfix
      .list-group-item
        %h4.list-group-item-heading
          %a{ href: tours_path } 
            = t 'home.all_tours'
            %span.glyphicon.glyphicon-arrow-right
  .col-lg-4.col-sm-6
    %h4= t 'home.popular_countries'
    .list-group
      - @countries.each_with_index do |country, i|
        .list-group-item
          - if country.photo
            = image_tag(country.photo.asset(:thumb_130), { alt: country.photo.title, class: 'pull-left' })
          %h5.list-group-item-heading
            = link_to country.name, country
            - country.continents.each_with_index do |continent, i|
              %small
                %em
                  = ', ' if i != 0
                  = link_to continent.name, continent
          %p.list-group-item-text= t 'home.region.tours', count: (country.regions.includes(&:tour_programs).map{ |i| i.tour_programs.map(&:tour_id) }.flatten.uniq - unactive_ids).count
          %p.list-group-item-text= t 'home.region.regions', count: country.regions.count
          .clearfix
      .list-group-item
        %h4.list-group-item-heading
          %a{ href: countries_path } 
            = t 'home.all_countries'
            %span.glyphicon.glyphicon-arrow-right
  .col-lg-4.col-sm-6
    %h4= t 'home.popular_regions'
    .list-group
      - @regions.each_with_index do |region, i|
        .list-group-item
          - if region.photo
            = image_tag(region.photo.asset(:thumb_130), { alt: region.photo.title, class: 'pull-left' })
          - elsif region.gallery && region.gallery.photos.any?
            = image_tag(region.gallery.photos.first.asset(:thumb_130), { alt: region.gallery.photos.first.title, class: 'pull-left'})
          %h5.list-group-item-heading
            = link_to region.name, region
            %small
              %em= link_to region.country.name, region.country
          %p.list-group-item-text= t 'home.region.tours', count: (region.tour_programs.map(&:tour_id).flatten.uniq - unactive_ids).count
          .clearfix
      .list-group-item
        %h4.list-group-item-heading
          %a{ href: regions_path } 
            = t 'home.all_regions'
            %span.glyphicon.glyphicon-arrow-right
.row.partners-logos
  .col-lg-12
    %h4= t('home.partners')
    %span#ALGOL_logo
    .clearfix

- content_for :scripts do
  :javascript
    var alg = document.createElement('script'); 
        alg.type = 'text/javascript'; 
        alg.src = 'http://www.algol.com.ua/export/js/logo.php?a=20701&ac=7c4e05cc8eb6b642f26ca5a5abcecb97&s=3'; 
    var algc = document.getElementById('ALGOL_logo'); 
        algc.parentNode.insertBefore(alg, algc);