.row
  .col-lg-8.col-sm-12
    %h4= t 'home.recommends'
    - if @promote.any?
      #myCarousel.carousel.slide
        %ol.carousel-indicators
          - @promote.each_with_index do |tour, i|
            %li{ class: ('active' if i == 0), data: {'slide-to' => i, 'target' => "#myCarousel"} }
        / Carousel items
        .carousel-inner
          - @promote.each_with_index do |tour, i|
            .item{ class: ('active' if i == 0), "data-slide-number" => i}
              = image_tag tour.photo.asset.url(:thumb_770), { alt: tour.photo.title }
              .carousel-caption
                %h4
                  = link_to tour.title, tour
                  = raw tour_subtitle(tour)
                  - if temp = marshrut(tour.tour_programs)
                    %small
                      %em= raw "#{temp}"
                %p= raw "#{t('gen.from')} <b>#{tour.price_from}#{currency_sym(tour)}</b> на #{tour.durations.map(&:count_of_night).join(',')} ночей<br/> #{tour.tour_types.map(&:title).join(', ')} "
        / Carousel nav
        %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} 
          %span.icon-prev.glyphicon.glyphicon-chevron-left
        %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"}
          %span.icon-next.glyphicon.glyphicon-chevron-right
  .col-lg-4.col-sm-12
    %h4= t 'menu.hot_tours'
    .row.hot-tours
      - @hot_tours2.each_with_index do |tour, i|
        .col-lg-6.col-sm-4.col-6.block
          = image_tag tour.cover(:thumb), { alt: tour.title }
          - if i == 5
            .shadow
            .all-hot-tours 
              %a{ href: '/hot_tours'} 
                = t 'home.more_hot_tours'
                %span.glyphicon.glyphicon-arrow-right
          - else
            .title 
              = tour.title
              .descr= tour.description
        
.row.country
  .col-lg-4.col-sm-12
    %h4= t 'home.last_tours'
    .row.styled
      - @tours.each_with_index do |tour, i|
        .col-lg-6.col-sm-4.col-6.block
          - if tour.photo
            = image_tag(tour.photo.asset(:thumb_370), { alt: tour.photo.title })
          - if i == 5
            .shadow
            .all-hot-tours 
              %a{ href: tours_path } 
                = t 'home.all_tours'
                %span.glyphicon.glyphicon-arrow-right
          - else
            .title
              = link_to tour.title, tour
              %em= raw tour_subtitle(tour, true)
              .descr
                %div= raw "#{t('gen.from')} <b>#{tour.price_from}#{currency_sym(tour)}</b> на #{tour.durations.map(&:count_of_night).join(',')} ночей"
                %div= "#{tour.tour_types.map(&:title).join(', ')}"
  .col-lg-4.col-sm-6
    %h4= t 'home.popular_countries'
    .row.styled
      - @countries.each_with_index do |country, i|
        .col-lg-6.col-sm-6.col-6.block
          - if country.photo
            = image_tag(country.photo.asset(:thumb_370), { alt: country.photo.title })
          - if i == 5
            .shadow
            .all-hot-tours 
              %a{ href: countries_path } 
                = t 'home.all_countries'
                %span.glyphicon.glyphicon-arrow-right
          - else
            .title
              = link_to country.name, country
              - country.continents.each_with_index do |continent, i|
                %small
                  %em
                    = ', ' if i != 0
                    = link_to continent.name, continent
              .descr
                %div= t 'home.region.tours', count: country.regions.includes(&:tour_programs).map{ |i| i.tour_programs.map(&:tour_id) }.flatten.uniq.count
                %div= t 'home.region.regions', count: country.regions.count
  .col-lg-4.col-sm-6
    %h4= t 'home.popular_regions'
    .row.styled
      - @regions.each_with_index do |region, i|
        .col-lg-6.col-sm-6.col-6.block
          - if region.gallery && region.gallery.photos.any?
            = image_tag(region.gallery.photos.first.asset(:thumb_370), { alt: region.gallery.photos.first.title })
          - if i == 5
            .shadow
            .all-hot-tours 
              %a{ href: regions_path } 
                = t 'home.all_regions'
                %span.glyphicon.glyphicon-arrow-right
          - else
            .title
              = link_to region.name, [region.country, region]
              %small
                %em= link_to region.country.name, region.country
              .descr= t 'home.region.tours', count: region.tour_programs.group_by(&:tour_id).count