/ .row
/   #slider.span12
/     .row
/       #carousel-bounding-box.span8
/         #myCarousel.carousel.slide
/           .carousel-inner
/             .active.item{"data-slide-number" => "0"}
/               %img{:src => "http://placehold.it/770x300&text=one"}/
/             .item{"data-slide-number" => "1"}
/               %img{:src => "http://placehold.it/770x300&text=two"}/
/             .item{"data-slide-number" => "2"}
/               %img{:src => "http://placehold.it/770x300&text=three"}/
/             .item{"data-slide-number" => "3"}
/               %img{:src => "http://placehold.it/770x300&text=four"}/
/             .item{"data-slide-number" => "4"}
/               %img{:src => "http://placehold.it/770x300&text=five"}/
/             .item{"data-slide-number" => "5"}
/               %img{:src => "http://placehold.it/770x300&text=six"}/
/           %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
/           %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›
/       #carousel-text.span4
/       #slide-content{:style => "display: none;"}
/         #slide-content-0
/           %h2 Slider One
/           %p Lorem Ipsum Dolor
/           %p.sub-text
/             October 24 2012 -
/             %a{:href => "#"} Read more
/         #slide-content-1
/           %h2 Slider Two
/           %p Lorem Ipsum Dolor
/           %p.sub-text
/             October 24 2012 -
/             %a{:href => "#"} Read more
/         #slide-content-2
/           %h2 Slider Three
/           %p Lorem Ipsum Dolor
/           %p.sub-text
/             October 24 2012 -
/             %a{:href => "#"} Read more
/         #slide-content-3
/           %h2 Slider Four
/           %p Lorem Ipsum Dolor
/           %p.sub-text
/             October 24 2012 -
/             %a{:href => "#"} Read more
/         #slide-content-4
/           %h2 Slider Five
/           %p Lorem Ipsum Dolor
/           %p.sub-text
/             October 24 2012 -
/             %a{:href => "#"} Read more
/         #slide-content-5
/           %h2 Slider Six
/           %p Lorem Ipsum Dolor
/           %p.sub-text
/             October 24 2012 -
/             %a{:href => "#"} Read more
/ #slider-thumbs.row.hidden-phone
/   .span12
/     %ul.thumbnails
/       %li.span2
/         %a#carousel-selector-0.thumbnail
/           %img{:src => "http://placehold.it/170x100&text=one"}/
/       %li.span2
/         %a#carousel-selector-1.thumbnail
/           %img{:src => "http://placehold.it/170x100&text=two"}/
/       %li.span2
/         %a#carousel-selector-2.thumbnail
/           %img{:src => "http://placehold.it/170x100&text=three"}/
/       %li.span2
/         %a#carousel-selector-3.thumbnail
/           %img{:src => "http://placehold.it/170x100&text=four"}/
/       %li.span2
/         %a#carousel-selector-4.thumbnail
/           %img{:src => "http://placehold.it/170x100&text=five"}/
/       %li.span2
/         %a#carousel-selector-5.thumbnail
/           %img{:src => "http://placehold.it/170x100&text=six"}/
.row
  .span12
    .push-20
    .row-fluid.country
      %ul.thumbnails
        %li.span4
          %h4= t 'home.last_tours'
          .thumbnail
            .caption
              %ul.media-list
                - Tour.order('id DESC').limit(5).each do |tour|
                  %li.media
                    - if tour.photo
                      = link_to image_tag(tour.photo.asset(:thumb_150x), { class: 'media-object', alt: tour.photo.title }), tour, {class: 'pull-left'}
                    .media-body
                      %h5.media-heading
                        = link_to tour.title, tour
                        - if tour.tour_programs.any? && tour.tour_programs.first.regions.any?
                          - if tour.tour_programs.size == 1 && tour.tour_programs.first.regions.size == 1
                            %small
                              = link_to tour.tour_programs.first.regions.first.name, tour.tour_programs.first.regions.first
                              = raw "(#{link_to tour.tour_programs.first.regions.first.country.name, tour.tour_programs.first.regions.first.country})"
                      %div= raw "#{t('tours.price')}: #{t('gen.from')} <b>#{tour.price_from}</b> <i>#{tour.currency && tour.currency.code}</i>"
                      %div= "#{t('tours.tour_type')}: #{tour.tour_types.map(&:title).join(', ')}"
              %a.btn.pull-right{ href: tours_path } Всі тури ...
        %li.span4
          %h4= t 'home.popular_regions'
          .thumbnail
            .caption
              %ul.media-list
                - Region.order('id DESC').limit(5).each do |region|
                  %li.media
                    - if region.gallery && region.gallery.photos.any?
                      = link_to image_tag(region.gallery.photos.first.asset(:thumb_150x), { class: 'media-object', alt: region.gallery.photos.first.title }), region, {class: 'pull-left'}
                    .media-body
                      %h5.media-heading
                        = link_to region.name, region
                        %small= link_to region.country.name, region.country
                      %div= t 'home.region.tours', count: region.tour_programs.group_by(&:tour_id).count
                      %div= t 'home.region.hotels', count: region.hotels.count
              %a.btn.pull-right{ href: countries_path } Всі напрямки ...
        %li.span4
          %h4= t 'home.news' 
          .thumbnail
            .caption
              %p.muted.text-center= t 'home.blog_sorry'
              %a.btn.pull-right{ href: "#" } Всі новини ...
