- content_for :seo_meta do
  = @country.seo_meta
- content_for :tags do
  = @country.all_tags.join(',')
- content_for :title do
  = "#{@country.name} - #{@country.continents.map{ |c| c.name }.join(',')}"
- content_for :scripts do
  %script{ src: "http://www.panoramio.com/wapi/wapi.js?v=1&hl=#{locale}" }
  :javascript
    if(!#{@country.geo_viewport.nil?}){
      var sand = {
        "rect" : { 
          'ne': #{@country.geo_viewport['northeast'].to_json if @country.geo_viewport}, 
          'sw': #{@country.geo_viewport['southwest'].to_json if @country.geo_viewport}
        }
      };
      var sandRequest = new panoramio.PhotoRequest(sand);
      var attr_ex_photo_options = {
        'width': 500,
        'height': 380,
        'attributionStyle': panoramio.tos.Style.HIDDEN};
      var attr_ex_photo_widget = new panoramio.PhotoWidget(
          'div_attr_ex_photo', sandRequest, attr_ex_photo_options);

      var attr_ex_list_options = {
        'width': 70,
        'height': 380,
        'columns': 1,
        'rows': 5,
        'croppedPhotos': true,
        'disableDefaultEvents': [panoramio.events.EventType.PHOTO_CLICKED],
        'orientation': panoramio.PhotoListWidgetOptions.Orientation.VERTICAL,
        'attributionStyle': panoramio.tos.Style.HIDDEN};
      var attr_ex_list_widget = new panoramio.PhotoListWidget(
        'div_attr_ex_list', sandRequest, attr_ex_list_options);

      var attr_ex_attr_options = {'width': 578};
      var attr_ex_attr_widget = new panoramio.TermsOfServiceWidget(
        'div_attr_ex_attr', attr_ex_attr_options);

      function onListPhotoClicked(event) {
        var position = event.getPosition();
        if (position !== null) attr_ex_photo_widget.setPosition(position);
      }
      panoramio.events.listen(
        attr_ex_list_widget, panoramio.events.EventType.PHOTO_CLICKED,
        function(e) { onListPhotoClicked(e); });
      // attr_ex_photo_widget.enablePreviousArrow(false);
      // attr_ex_photo_widget.enableNextArrow(false);

      attr_ex_photo_widget.setPosition(0);
      attr_ex_list_widget.setPosition(0);
    }

.row
  .col-lg-6
    - if @country.static_map
      = image_tag(@country.static_map, { class: 'map img-responsive', alt: @country.name })
  .col-lg-6
    #div_attr_ex
      #div_attr_ex_list
      #div_attr_ex_photo
      #div_attr_ex_attr

.row.country
  .col-lg-12
    /   - if @country.photo && @country.photo.asset.url(:original) != '/images/ph/logos_big.png'
    /     = image_tag @country.photo.asset.url(:original), { class: 'img-responsive', alt: @country.photo.title }
    %h2
      = @country.name
      - @country.continents.each_with_index do |continent, i|
        %small
          %em
            = ', ' if i != 0
            = link_to continent.name, continent
  .col-lg-4
.row.country
  .col-lg-12
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tours"}= t 'country.tours'
        %li
          %a{"data-toggle" => "tab", :href => "#about"}= t 'country.about.title'
        %li
          %a{"data-toggle" => "tab", :href => "#regions"}= t 'country.regions'
        %li
          %a{"data-toggle" => "tab", :href => "#attractions"}= t 'country.attractions' 
        %li
          %a{"data-toggle" => "tab", :href => "#hotels"}= t 'country.hotels' 
        %li
          %a{"data-toggle" => "tab", :href => "#visa"}= t 'country.visa'
        %li
          %a{"data-toggle" => "tab", :href => "#gallery"}= t 'region.gallery'
      .tab-content
        #tours.tab-pane.active
          - if @tours.any?
            = render 'layouts/tours', f2: false
          - else
            %p.muted.text-center= t 'country.sorry.tours'
        #about.tab-pane
          - unless @country.description.empty?
            %h4= t 'country.about.description'
            .div-block= raw @country.description
          - unless @country.kitchen.empty?
            %h4= t 'country.about.kitchen'
            .div-block= raw @country.kitchen
          - unless @country.climate.empty?
            %h4= t 'country.about.climate'
            .div-block= raw @country.climate
          - unless @country.culture.empty?
            %h4= t 'country.about.culture'
            .div-block= raw @country.culture
          - unless @country.recomendation.empty?
            %h4= t 'country.about.recomendation'
            .div-block= raw @country.recomendation
          - unless @country.infrastructure.empty?
            %h4= t 'country.about.infrastructure'
            .div-block= raw @country.infrastructure
        #regions.tab-pane
          - if @country.regions.any?
            %ul.media-list
              - @country.regions.each do |region|
                %li.media
                  - if region.gallery && region.gallery.photos.any?
                    = link_to image_tag(region.gallery.photos.first.asset(:thumb_150x), { class: 'media-object', alt: region.gallery.photos.first.title }), [@country, region], {class: 'pull-left'}
                  .media-body
                    %h5.media-heading= link_to region.name, [@country, region]
                    %p= raw region.description.truncate(350)
          - else
            %p.muted.text-center= t 'country.sorry.regions'        
        #attractions.tab-pane
          - if @attractions.any?
            %ul.media-list
              - @attractions.each do |attraction|
                %li.media
                  - if attraction.gallery && attraction.gallery.photos.any?
                    = link_to image_tag(attraction.gallery.photos.first.asset(:thumb_150x), { class: 'media-object', alt: attraction.gallery.photos.first.title }), [@country, attraction.region, attraction], {class: 'pull-left'}
                  .media-body
                    %h5.media-heading
                      = link_to attraction.name, [@country, attraction.region, attraction]
                      %small
                        = link_to attraction.region.name, [@country, attraction.region]
                    %p= raw attraction.description.truncate(350)
          - else
            %p.muted.text-center= t 'country.sorry.attractions'
        #hotels.tab-pane
          - if @hotels.any?
            - @hotels.each do |hotel|
              %li.media
                - if hotel.gallery && hotel.gallery.photos.any?
                  = link_to image_tag(hotel.gallery.photos.first.asset(:thumb_150x), { alt: hotel.gallery.photos.first.title}), [@country, hotel.region, hotel], {class: 'pull-left'}
                .media-body
                  %h5.media-heading
                    = link_to hotel.name, [@country, hotel.region, hotel]
                    %small
                      = link_to hotel.region.name, [@country, hotel.region]
                  %p= raw hotel.description
          - else
            %p.muted.text-center= t 'country.sorry.hotels'
        #visa.tab-pane
          - if @country.visa && @country.visa.visa_type
            %h4= @country.visa.visa_type.title 
            %p= @country.visa.description
            - if @country.visa.foreign_pas 
              %h5= t 'visa.pas'
              %dl
                %dt= t 'visa.f_pas'
                %dd= @country.visa.foreign_pas
                %dt= t 'visa.f_pas_d'
                %dd= @country.visa.foreign_pas_duration
                %dt= t 'visa.f_pas_a'
                %dd= @country.visa.foreign_pas_additional
                %dt= t 'visa.s_pas'
                %dd= @country.visa.service_pas
                %dt= t 'visa.d_pas'
                %dd= @country.visa.diplomatic_pas
          - else
            %p.muted.text-center= t 'country.sorry.visa'
        #gallery.tab-pane
          - if @photos.any?
            = render 'layouts/gallery', photos: @photos
          - else
            %p.muted.text-center= t 'country.sorry.gallery'