- content_for :seo_meta do
  = @country.seo_meta

.row.country.custom
  .span12
    - if @country.photo && @country.photo.asset.url(:big_1170x) != '/images/ph/logos_big.png'
      = image_tag @country.photo.asset.url(:big_1170x)
    - else 
      .push-20
    %h2
      = @country.name
      - @country.continents.each_with_index do |continent, i|
        %small
          %em
            = ', ' if i != 0
            = link_to continent.name, continent

    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tours"}= t 'country.tours'
        %li
          %a{"data-toggle" => "tab", :href => "#about"}= t 'country.about.title'
        %li
          %a{"data-toggle" => "tab", :href => "#regions"}= t 'country.regions'
        %li
          %a{"data-toggle" => "tab", :href => "#hotels"}= t 'country.hotels' 
        %li
          %a{"data-toggle" => "tab", :href => "#visa"}= t 'country.visa'
      .tab-content
        #tours.tab-pane.active
          - if false

          - else
            %p.muted.text-center= t 'country.sorry.tours'
        #about.tab-pane
          - unless @country.description.empty?
            %h4= t 'country.about.description'
            .div-block= raw @country.description
          - unless @country.kitchen.empty?
            %h4= t 'country.about.kitchen'
            .div-block= raw @country.kitchen
          - unless @country.climate.empty?
            %h4= t 'country.about.climate'
            .div-block= raw @country.climate
          - unless @country.culture.empty?
            %h4= t 'country.about.culture'
            .div-block= raw @country.culture
          - unless @country.recomendation.empty?
            %h4= t 'country.about.recomendation'
            .div-block= raw @country.recomendation
          - unless @country.infrastructure.empty?
            %h4= t 'country.about.infrastructure'
            .div-block= raw @country.infrastructure
        #regions.tab-pane
          - if @country.regions.any?
            %ul.media-list
              - @country.regions.each do |region|
                %li.media
                  %a.pull-left{:href => "#"}
                    - if region.gallery && region.gallery.photos.any?
                      = link_to image_tag(region.gallery.photos.first.asset(:thumb_150x), { class: 'media-object', alt: region.gallery.photos.first.title }), region, {class: 'pull-left'}
                  .media-body
                    %h5.media-heading= link_to region.name, region
                    %p= raw region.description.truncate(350)
          - else
            %p.muted.text-center= t 'country.sorry.regions'
        #hotels.tab-pane
          - if @country.regions.any?
            - hotels_mis = true
            - @country.regions.each do |region|
              - region.hotels do |hotel|
                - hotels_mis = false
                %li.media
                  %a.pull-left{:href => "#"}
                    = image_tag hotel.gallery.photos.first.asset(:thumb_150x)
                  .media-body
                    %h5.media-heading= hotel.name
                    %p= raw hotel.description
          - if hotels_mis
            %p.muted.text-center= t 'country.sorry.hotels'
        #visa.tab-pane
          - if @country.visa && @country.visa.visa_type
            %h4= @country.visa.visa_type.title 
            %p= @country.visa.description
            - if @country.visa.foreign_pas 
              %h5= t 'visa.pas'
              %dl
                %dt= t 'visa.f_pas'
                %dd= @country.visa.foreign_pas
                %dt= t 'visa.f_pas_d'
                %dd= @country.visa.foreign_pas_duration
                %dt= t 'visa.f_pas_a'
                %dd= @country.visa.foreign_pas_additional
                %dt= t 'visa.s_pas'
                %dd= @country.visa.service_pas
                %dt= t 'visa.d_pas'
                %dd= @country.visa.diplomatic_pas
          - else
            %p.muted.text-center= t 'country.sorry.visa'