- content_for :seo_meta do
  = @country.seo_meta
- content_for :title do
  = "#{@country.name} - #{@country.continents.map{ |c| c.name }.join(',')}"

.row.country
  .span12
    - if @country.photo && @country.photo.asset.url(:big_1170x) != '/images/ph/logos_big.png'
      = image_tag @country.photo.asset.url(:big_1170x), { alt: @country.photo.title }
    - else 
      .push-20
    %h2
      = @country.name
      - @country.continents.each_with_index do |continent, i|
        %small
          %em
            = ', ' if i != 0
            = link_to continent.name, continent

    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tours"}= t 'country.tours'
        %li
          %a{"data-toggle" => "tab", :href => "#about"}= t 'country.about.title'
        %li
          %a{"data-toggle" => "tab", :href => "#regions"}= t 'country.regions'
        %li
          %a{"data-toggle" => "tab", :href => "#attractions"}= t 'country.attractions' 
        %li
          %a{"data-toggle" => "tab", :href => "#hotels"}= t 'country.hotels' 
        %li
          %a{"data-toggle" => "tab", :href => "#visa"}= t 'country.visa'
        %li
          %a{"data-toggle" => "tab", :href => "#gallery"}= t 'region.gallery'
      .tab-content
        #tours.tab-pane.active
          - if @tours.any?
            = render 'layouts/tours'
          - else
            %p.muted.text-center= t 'country.sorry.tours'
        #about.tab-pane
          - unless @country.description.empty?
            %h4= t 'country.about.description'
            .div-block= raw @country.description
          - unless @country.kitchen.empty?
            %h4= t 'country.about.kitchen'
            .div-block= raw @country.kitchen
          - unless @country.climate.empty?
            %h4= t 'country.about.climate'
            .div-block= raw @country.climate
          - unless @country.culture.empty?
            %h4= t 'country.about.culture'
            .div-block= raw @country.culture
          - unless @country.recomendation.empty?
            %h4= t 'country.about.recomendation'
            .div-block= raw @country.recomendation
          - unless @country.infrastructure.empty?
            %h4= t 'country.about.infrastructure'
            .div-block= raw @country.infrastructure
        #regions.tab-pane
          - if @country.regions.any?
            %ul.media-list
              - @country.regions.each do |region|
                %li.media
                  - if region.gallery && region.gallery.photos.any?
                    = link_to image_tag(region.gallery.photos.first.asset(:thumb_150x), { class: 'media-object', alt: region.gallery.photos.first.title }), [@country, region], {class: 'pull-left'}
                  .media-body
                    %h5.media-heading= link_to region.name, [@country, region]
                    %p= raw region.description.truncate(350)
          - else
            %p.muted.text-center= t 'country.sorry.regions'        
        #attractions.tab-pane
          - if @attractions.any?
            %ul.media-list
              - @attractions.each do |attraction|
                %li.media
                  - if attraction.gallery && attraction.gallery.photos.any?
                    = link_to image_tag(attraction.gallery.photos.first.asset(:thumb_150x), { class: 'media-object', alt: attraction.gallery.photos.first.title }), [@country, attraction.region, attraction], {class: 'pull-left'}
                  .media-body
                    %h5.media-heading
                      = link_to attraction.name, [@country, attraction.region, attraction]
                      %small
                        = link_to attraction.region.name, [@country, attraction.region]
                    %p= raw attraction.description.truncate(350)
          - else
            %p.muted.text-center= t 'country.sorry.attractions'
        #hotels.tab-pane
          - if @hotels.any?
            - @hotels.each do |hotel|
              %li.media
                - if hotel.gallery && hotel.gallery.photos.any?
                  = link_to image_tag(hotel.gallery.photos.first.asset(:thumb_150x), { alt: hotel.gallery.photos.first.title}), [@country, hotel.region, hotel], {class: 'pull-left'}
                .media-body
                  %h5.media-heading
                    = link_to hotel.name, [@country, hotel.region, hotel]
                    %small
                      = link_to hotel.region.name, [@country, hotel.region]
                  %p= raw hotel.description
          - else
            %p.muted.text-center= t 'country.sorry.hotels'
        #visa.tab-pane
          - if @country.visa && @country.visa.visa_type
            %h4= @country.visa.visa_type.title 
            %p= @country.visa.description
            - if @country.visa.foreign_pas 
              %h5= t 'visa.pas'
              %dl
                %dt= t 'visa.f_pas'
                %dd= @country.visa.foreign_pas
                %dt= t 'visa.f_pas_d'
                %dd= @country.visa.foreign_pas_duration
                %dt= t 'visa.f_pas_a'
                %dd= @country.visa.foreign_pas_additional
                %dt= t 'visa.s_pas'
                %dd= @country.visa.service_pas
                %dt= t 'visa.d_pas'
                %dd= @country.visa.diplomatic_pas
          - else
            %p.muted.text-center= t 'country.sorry.visa'
        #gallery.tab-pane
          - if @photos.any?
            = render 'layouts/gallery', photos: @photos
          - else
            %p.muted.text-center= t 'country.sorry.gallery'