%h1= @country.name
%p= link_to @country.continent.name, @country.continent
%p= raw @country.description
%p= raw @country.visa
%p= raw @country.kitchen
%p= raw @country.recomendation

= link_to 'Back', countries_path
