= form_for @hotel do |f|
  - if @hotel.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hotel.errors.count, "error")} prohibited this hotel from being saved:"
      %ul
        - @hotel.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :region_id
    = f.text_field :region_id
  .field
    = f.label :gallery_id
    = f.text_field :gallery_id
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :slug
    = f.text_field :slug
  .actions
    = f.submit 'Save'
