- content_for :title do
  = t 'menu.travel_regions'
- content_for :tags do
  = @regions.map(&:all_tags).flatten.uniq.map(&:title).join(',')

.row
  .span12
    .push-20
    %h2= t 'menu.travel_regions'

    - Continent.all.each do |continent|
      %h3= link_to continent.name, continent
      .f16
        - continent.countries.each do |country|
          %h5
            = link_to country.name, country, { class: "flag #{country.code}"}
            - country.regions.each do |region|
              %small= link_to region.name, [country, region]

