- content_for :seo_meta do
  = @region.seo_meta
- content_for :tags do
  = @region.all_tags.join(',')
- content_for :title do
  = "#{@region.name} - #{@region.country.name}"
- content_for :scripts do
  %script{ src: 'http://www.panoramio.com/wapi/wapi.js?v=1&hl=uk' }
  :javascript
    if(!#{@region.geo_viewport.nil?}){
      var sand = {
        "rect" : { 
          'ne': #{@region.geo_viewport['northeast'].to_json if @region.geo_viewport}, 
          'sw': #{@region.geo_viewport['southwest'].to_json if @region.geo_viewport}
        }
      };
      var sandRequest = new panoramio.PhotoRequest(sand);
      var attr_ex_photo_options = {
        'width': 490,
        'height': 400,
        'attributionStyle': panoramio.tos.Style.HIDDEN};
      var attr_ex_photo_widget = new panoramio.PhotoWidget(
          'div_attr_ex_photo', sandRequest, attr_ex_photo_options);

      var attr_ex_list_options = {
        'width': 70,
        'height': 400,
        'columns': 1,
        'rows': 5,
        'croppedPhotos': true,
        'disableDefaultEvents': [panoramio.events.EventType.PHOTO_CLICKED],
        'orientation': panoramio.PhotoListWidgetOptions.Orientation.VERTICAL,
        'attributionStyle': panoramio.tos.Style.HIDDEN};
      var attr_ex_list_widget = new panoramio.PhotoListWidget(
        'div_attr_ex_list', sandRequest, attr_ex_list_options);

      var attr_ex_attr_options = {'width': 580};
      var attr_ex_attr_widget = new panoramio.TermsOfServiceWidget(
        'div_attr_ex_attr', attr_ex_attr_options);

      function onListPhotoClicked(event) {
        var position = event.getPosition();
        if (position !== null) attr_ex_photo_widget.setPosition(position);
      }
      panoramio.events.listen(
        attr_ex_list_widget, panoramio.events.EventType.PHOTO_CLICKED,
        function(e) { onListPhotoClicked(e); });
      attr_ex_photo_widget.enablePreviousArrow(false);
      attr_ex_photo_widget.enableNextArrow(false);

      attr_ex_photo_widget.setPosition(0);
      attr_ex_list_widget.setPosition(0);
    }

.row
  .col-lg-6
    #div_attr_ex
      #div_attr_ex_list
      #div_attr_ex_photo
      #div_attr_ex_attr
  .col-lg-6
    - if @region.static_map
      = image_tag(@region.static_map, { class: 'img-responsive', alt: @region.name })

.row.country
  .col-lg-12
    %h2
      = @region.name
      %small= link_to @region.country.name, @region.country
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tours"}= t 'country.tours'
        %li
          %a{"data-toggle" => "tab", :href => "#about"}= t 'country.about.region'
        %li
          %a{"data-toggle" => "tab", :href => "#attractions"}= t 'country.attractions' 
        %li
          %a{"data-toggle" => "tab", :href => "#hotels"}= t 'country.hotels' 
        %li
          %a{"data-toggle" => "tab", :href => "#gallery"}= t 'region.gallery'
      .tab-content
        #tours.tab-pane.active
          - if @tours.any?
            = render 'layouts/tours', f2: false
          - else
            %p.muted.text-center= t 'country.sorry.tours'
        #about.tab-pane
          - unless @region.description.empty?
            %h4= t 'country.about.description'
            .div-block= raw @region.description
          - unless @region.recomendation.empty?
            %h4= t 'country.about.recomendation'
            .div-block= raw @region.recomendation
          - unless @region.infrastructure.empty?
            %h4= t 'country.about.infrastructure'
            .div-block= raw @region.infrastructure
        #attractions.tab-pane
          - if @region.attractions.any?
            %ul.media-list
              - @region.attractions.each do |attraction|
                %li.media
                  - if attraction.gallery && attraction.gallery.photos.any?
                    = link_to image_tag(attraction.gallery.photos.first.asset(:thumb_150x), { class: 'media-object', alt: attraction.gallery.photos.first.title }), [attraction.region.country, attraction.region, attraction], {class: 'pull-left'}
                  .media-body
                    %h5.media-heading
                      = link_to attraction.name, [attraction.region.country, attraction.region, attraction]
                      %small
                        = link_to attraction.region.name, [attraction.region.country, attraction.region]
                    %p= raw attraction.description.truncate(350)
          - else
            %p.muted.text-center= t 'country.sorry.attractions'
        #hotels.tab-pane
          - if @region.hotels.any?
            - @region.hotels.each do |hotel|
              %li.media
                - if hotel.gallery && hotel.gallery.photos.any?
                  = link_to image_tag(hotel.gallery.photos.first.asset(:thumb_150x), { alt: hotel.gallery.photos.first.title}), [hotel.region.country, hotel.region, hotel], {class: 'pull-left'}
                .media-body
                  %h5.media-heading
                    = link_to hotel.name, [hotel.region.country, hotel.region, hotel]
                    %small
                      = link_to hotel.region.name, [hotel.region.country, hotel.region]
                  %p= raw hotel.description
          - else
            %p.muted.text-center= t 'country.sorry.hotels'
        #gallery.tab-pane
          - if @region.gallery && @region.gallery.photos.any?
            = render 'layouts/gallery', photos: @region.gallery.photos
          - else
            %p.muted.text-center= t 'country.sorry.gallery'