.custom 
  .navbar.navbar-static-top
    .container.contacts.hidden-sm
      .navbar-brand
      .social
        %a{ href: 'http://vk.com/mongrasse', target: :_blank }
          .vkontakte
        %a{ href: 'https://twitter.com/mongrasse', target: :_blank }
          .twitter
        %a{ href: 'http://www.facebook.com/pages/%D0%A2%D1%83%D1%80%D0%B8%D1%81%D1%82%D0%B8%D1%87%D0%BD%D0%B0-%D0%B0%D0%B3%D0%B5%D0%BD%D1%86%D1%96%D1%8F-%D0%9C%D0%BE%D0%BD%D0%93%D1%80%D0%B0%D1%81%D1%81%D0%B5/188624577866386', target: :_blank }
          .facebook
      .nav.navbar-nav
        .email 
        .text-e 
          %a{ href: 'mailto:mongrasse@ukr.net', target: :_blank } mongrasse@ukr.net
        .phone 
        .text-p
          +38 098 036 55 35 
          %br/
          +38 032 232 00 03
    .container
      .locales.btn-group.visible-sm
        %button.btn.locale{class: locale == :uk && 'active', type: :button, data: { locale: :uk } } Укр
        %button.btn.locale{class: locale == :ru && 'active', type: :button, data: { locale: :ru } } Рус
      %button.navbar-toggle(data-target=".nav-collapse-menu" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: '/' }
        .bg-logo
          .logo
      .nav-collapse.nav-collapse-menu.collapse
        %ul.nav.navbar-nav

          %li.hidden-md{class: request.path == tours_path && 'active'}= link_to t('menu.tours'), tours_path
          %li.visible-md{class: request.path == tours_path && 'active'}= link_to t('menu.tours_sm'), tours_path

          %li{class: request.path == hot_tours_path && 'active'}= link_to t('menu.hot_tours'), hot_tours_path

          %li.visible-md{class: request.path.include?('countries') && 'active'}= link_to t('menu.countries'), countries_path
          %li.visible-md{class: request.path == visas_path && 'active'}= link_to t('menu.visas_sm'), visas_path
          %li.visible-md= link_to t('menu.request_action_sm'), "#myModal", 'data-toggle' => 'modal'
          
          %li.hidden-md{class: request.path.include?('countries') && 'active'}= link_to t('menu.countries_of_world'), countries_path
          %li.hidden-md{class: request.path == visas_path && 'active'}= link_to t('menu.visas'), visas_path
          %li.hidden-md= link_to t('menu.request_action'), "#myModal", 'data-toggle' => 'modal'
          
          %li{class: request.path == contacts_path && 'active'}= link_to "Контакти", contacts_path
          
      .nav-collapse.nav-collapse-cog.collapse.hidden-sm
        %ul.nav.navbar-nav.pull-right.locales
          %li.locale{class: locale == :uk && 'active', data: { locale: :uk }}= link_to "Укр", "?locale=uk"
          %li.locale{class: locale == :ru && 'active', data: { locale: :ru }}= link_to "Рус", "?locale=ru"