.row.tours
  .col-lg-3
    .div
      %h4= t 'filters.search_in_title'
      .well.well-small 
        .form-search
          .input-group
            %input.input-medium.form-control.centered.search-query{:type => "text", :value => params[:query]}
            %span.input-group-btn
              %button.btn.btn-default.search{type: :button, name: :submit}
                %span.glyphicon.glyphicon-search
      %form.filters
        %h4= t 'filters.search_by_params' 
        / Фільтр по місті виїзду
        .well.well-small 
          %p.bold= t 'filters.regions'
          - Country.where(code: :ua).first.regions.with_translations(locale).each do |f|
            %label.checkbox
              %input{ type: :checkbox, name: "from[]", value: f.id, checked: params[:from] && params[:from].include?(f.id.to_s) }= f.name
          / Фільтр по типі туру
          %p.bold= t 'filters.tour_type'
          - TourType.with_translations(locale).each do |f|
            %label.checkbox
              %input{ type: :checkbox, name: "tour_type[]", value: f.id, checked: params[:tour_type] && params[:tour_type].include?(f.id.to_s) }= f.title
          / Фільтр по типі пранспорту 
          %p.bold= t 'filters.transport'
          - Transport.with_translations(locale).each do |f|
            %label.checkbox
              %input{ type: :checkbox, name: "transport[]", value: f.id, checked: params[:transport] && params[:transport].include?(f.id.to_s) }= f.title
          / Фільтр по країнах
          - if f2 
            %p.bold= t 'filters.country'
            - Country.with_translations(locale).each do |f|
              %label.checkbox
                %input{ type: :checkbox, name: "country[]", value: f.id, checked: params[:country] && params[:country].include?(f.id.to_s) }= f.name

  .col-lg-9
    - if @tours.any?
      %h4= t 'tours.total_tours', count: @tours.total_count
      %ul.media-list
        - @tours.each do |tour|
          %li.media
            = link_to image_tag(tour.photo.asset(:thumb_250x), { class: 'media-object', alt: tour.photo.title }), tour, {class: 'pull-left'}
            .media-body
              %h4.media-heading
                = link_to tour.title, tour
                %em= raw tour_subtitle(tour.tour_programs)
              .p= raw "#{t('tours.price')}: #{t('gen.from')} <b>#{tour.price_from}#{tour.currency_sym}</b> за #{t(tour.price_type, :scope => [:tours, :price_type])}"
              - if tour.days.any? 
                - if tour.days.count > 4
                  .p= raw t('tours.dates_v', first: l(tour.days.sort_by(&:day_of_life).first.day_of_life, :format => :short), last: l(tour.days.sort_by(&:day_of_life).last.day_of_life, :format => :short_w_y), count: tour.days.count)
                - else
                  .p= raw "#{t('tours.dates_s')}: <b>#{tour.days.sort_by(&:day_of_life).map{|i| l(i.day_of_life, :format => :short_w_y)}.join(', ')}</b>"
              - if temp = marshrut(tour.tour_programs)
                .p= raw "#{t('tours.marshrut')}: #{temp}"
              .p= "#{t('tours.transport')}: #{tour.transports.map(&:title).join(', ')}"
              .p= "#{t('tours.duration')}: #{tour.nights}"
              - if tour.food_types.any? 
                - temp = tour.food_types.map{ |t| "<span class='label label-warning' data-toggle='tooltip' title='#{t.title}'>#{t.code.upcase}</span>" }.join(' ')
                .p= raw "#{t('tours.food_type')}: #{temp}"
              .p= "#{t('tours.tour_type')}: #{tour.tour_types.map(&:title).join(', ')}"
              .p= raw "#{t('tours.departure')}: #{tour.regions.map{ |r| link_to r.name, r }.join(', ')}"
      = paginate @tours
    - else
      %h4.muted.text-center= t 'search.sorry'