!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta{name: :description, content: yield(:seo_meta) }
    %title= content_for?(:title) ? yield(:title) : "Travel"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    %link(href="/favicon.ico" rel="shortcut icon")


  %body
    
    #wrap
      = render 'layouts/navigation'
      / .container
      /   - if request.path == root_path
      /     .banner
      /       %ul
      /         %li 
      /           %img{ src: '/assets/slider/Hilton-Hotel-Paris-France-1080x1920.jpg' }
      /         %li 
      /           %img{ src: '/assets/slider/plan-plan-your-trip-find-travel-agent.jpg' }
      /         %li 
      /           %img{ src: '/assets/slider/Sensoji-Temple-Tokyo-Japan-01-1080x1920.jpg' }
      /         %li 
      /           %img{ src: '/assets/slider/Sky-Tree-Christmas-Illuminations-Tokyo-Japan-1080x1920.jpg' }
      /         %li 
      /           %img{ src: '/assets/slider/Subway-Entrance-Paris-France-1080x1920.jpg' }
      /         %li 
      /           %img{ src: '/assets/slider/travel-business-hammock-beach-1080x1920.jpg' }
      /         %li 
      /           %img{ src: '/assets/slider/eiffel-tower-europe-travel-1080x1920.jpg' }
      .container.custom
        = render 'layouts/flash'
        = yield
      #push
    
    #footer
      .container
        %p.pull-left.muted
          &copy; 2010-2013. Монграссе. 
        %p.pull-right.muted
          Розробка та підтримка
          %a.muted{ href: '#' } Олексин Віктор
          :javascript
            (function(w,n,d,r,s){d.write('<div><a href="http://top.mail.ru/jump?from=2043077"><img src="'+
            ('https:'==d.location.protocol?'https:':'http:')+'//top-fwz1.mail.ru/counter?id=2043077;t=55;js=13'+
            ((r=d.referrer)?';r='+escape(r):'')+((s=w.screen)?';s='+s.width+'*'+s.height:'')+';_='+Math.random()+
            '" style="border:0;" height="31" width="88" alt="Рейтинг@Mail.ru" /><\/a><\/div>');})(window,navigator,document);
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    %script(src="//unslider.com/unslider.min.js")

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23534542-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    



      


      

