!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta{name: :description, content: yield(:seo_meta) }
    %title= content_for?(:title) ? yield(:title) : "Travel"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    %link(href="/favicon.ico" rel="shortcut icon")


  %body
    = render 'layouts/navigation'
    #wrap
      / .container
      /   - if request.path == root_path
      /     .banner
      /       %ul
      /         %li 
      /           %img{ src: '/assets/slider/Hilton-Hotel-Paris-France-1080x1920.jpg' }
      /         %li 
      /           %img{ src: '/assets/slider/plan-plan-your-trip-find-travel-agent.jpg' }
      /         %li 
      /           %img{ src: '/assets/slider/Sensoji-Temple-Tokyo-Japan-01-1080x1920.jpg' }
      /         %li 
      /           %img{ src: '/assets/slider/Sky-Tree-Christmas-Illuminations-Tokyo-Japan-1080x1920.jpg' }
      /         %li 
      /           %img{ src: '/assets/slider/Subway-Entrance-Paris-France-1080x1920.jpg' }
      /         %li 
      /           %img{ src: '/assets/slider/travel-business-hammock-beach-1080x1920.jpg' }
      /         %li 
      /           %img{ src: '/assets/slider/eiffel-tower-europe-travel-1080x1920.jpg' }
      .container
        = render 'layouts/flash'
        = yield
      #push
    
    #footer
      .container
        %p.pull-left
          &copy; 2010-2013. Монграссе. 
        %p.pull-right
          Розробка та підтримка
          %a{ href: '#' } Олексин Віктор
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    %script(src="//unslider.com/unslider.min.js")
