!!! 5
%html(lang="en")
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: 'google-site-verification', content: 'XP1GGT3KLTm25Mk3S-WiuClOII2X6Ie5eW3HtrXGvaI' }
    %meta{ name: :description, content: content_for?(:seo_meta) ? yield(:seo_meta) : t('seo.descr') }
    %meta{ name: :keywords, content: t('seo.keywords') }
    %title= content_for?(:title) ? yield(:title).strip << t('seo.title_s') : t('seo.title')
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    %link(href="/favicon.ico" rel="shortcut icon")

  %body
    #wrap
      = render 'layouts/navigation'
      .container.custom
        = render 'layouts/flash'
        = yield
      #push
    
    #footer
      .container
        %p.pull-left.muted
          &copy; 2010-2013. Монграссе. 
        %p.pull-right.muted
          Розробка та підтримка
          %a.muted{ href: '#' } Олексин Віктор
          :javascript
            (function(w,n,d,r,s){d.write('<div><a href="http://top.mail.ru/jump?from=2043077"><img src="'+
            ('https:'==d.location.protocol?'https:':'http:')+'//top-fwz1.mail.ru/counter?id=2043077;t=55;js=13'+
            ((r=d.referrer)?';r='+escape(r):'')+((s=w.screen)?';s='+s.width+'*'+s.height:'')+';_='+Math.random()+
            '" style="border:0;" height="31" width="88" alt="Рейтинг@Mail.ru" /><\/a><\/div>');})(window,navigator,document);
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23534542-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    :javascript
      (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
              try {
                  w.yaCounter21133546 = new Ya.Metrika({id:21133546,
                          webvisor:true,
                          clickmap:true,
                          trackLinks:true,
                          accurateTrackBounce:true});
              } catch(e) { }
          });
      
          var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
      
          if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f, false);
          } else { f(); }
      })(document, window, "yandex_metrika_callbacks");

    



      


      

