= form_for @attraction do |f|
  - if @attraction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@attraction.errors.count, "error")} prohibited this attraction from being saved:"
      %ul
        - @attraction.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :region_id
    = f.text_field :region_id
  .field
    = f.label :gallery_id
    = f.text_field :gallery_id
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :slug
    = f.text_field :slug
  .actions
    = f.submit 'Save'
