- content_for :seo_meta do
  = @attraction.seo_meta
- content_for :title do
  = "#{@attraction.name} - #{@attraction.region.name} - #{@attraction.region.country.name}"

.row.country
  .span12
    .push-20
    %h2
      = @attraction.name
      %small
        = link_to @attraction.region.name, [@attraction.region.country, @attraction.region]
        %small= raw "(#{link_to @attraction.region.country.name, @attraction.region.country})"

    - unless @attraction.description.empty?
      %p= raw @attraction.description
    - if @attraction.gallery && @attraction.gallery.photos.any?
      %h4= t 'region.gallery'
      = render 'layouts/gallery', photos: @attraction.gallery.photos
    