%p#notice= notice

%p
  %b Region:
  = @attraction.region_id
%p
  %b Galery:
  = @attraction.gallery_id
%p
  %b Name:
  = @attraction.name
%p
  %b Description:
  = @attraction.description
%p
  %b Slug:
  = @attraction.slug

= link_to 'Edit', edit_attraction_path(@attraction)
\|
= link_to 'Back', attractions_path
